In [10]:
import requests
# For saving access tokens and for file management when creating and adding to the dataset
import os
# For dealing with json responses we receive from the API
import json
# For displaying the data after
import pandas as pd
# For saving the response data in CSV format
import csv
# For parsing the dates received from twitter in readable formats
import datetime
import dateutil.parser
import unicodedata
#To add wait time between requests
import time

In [11]:
os.environ['TOKEN'] = 'AAAAAAAAAAAAAAAAAAAAAPfEhwEAAAAAElz971Kl5tLPtcriYImZyMc7TbA%3D7BSUXbf9ZESoLGtCug0zWwoT0dsN7gNfc5f9fTKTjzSA8v92BR'

In [12]:
def auth():
    return os.getenv('TOKEN')

In [13]:
def create_headers(bearer_token):
    headers = {"Authorization": "Bearer {}".format(bearer_token)}
    return headers

In [14]:
def create_url(start_date, max_results, tweet_fields, expansions, end_time=None):
    
    search_url = "https://api.twitter.com/2/users/1162694149956603904/mentions" #Change to the endpoint you want to collect data from

    #change params based on the endpoint you are using
    query_params = {'tweet.fields' : tweet_fields,
                    'start_time': start_date,
                    'end_time' : end_time,
                    'max_results': max_results,
                    'expansions': expansions,
                    'next_token': {}}
    return (search_url, query_params)

In [15]:
def connect_to_endpoint(url, headers, params, next_token = None):
    params['next_token'] = next_token   #params object received from create_url function
    response = requests.request("GET", url, headers = headers, params = params)
    print("Endpoint Response Code: " + str(response.status_code))
    if response.status_code != 200:
        raise Exception(response.status_code, response.text)
    return response.json()

In [16]:
start_date = '2022-06-12T00:00:00.000Z'
# end_time = "2022-06-29T00:00:00.000Z"
max_results = 100
tweet_fields = 'created_at,public_metrics'
expansions = 'author_id'
bearer_token = auth()
headers = create_headers(bearer_token)

In [17]:
url = create_url(start_date, max_results, tweet_fields, expansions)

In [18]:
json_response = connect_to_endpoint(url[0], headers, url[1])

Endpoint Response Code: 200

In [27]:
retweet_count = json_response['data'][3]['public_metrics']['retweet_count']
reply_count = json_response['data'][3]['public_metrics']['reply_count']
like_count = json_response['data'][3]['public_metrics']['like_count']
quote_count = json_response['data'][3]['public_metrics']['quote_count']

In [30]:
json_response['meta']['result_count']

100

In [9]:
def save_json(number, json_response):
    filename = 'data' + str(number) + '.json'
    path = 'data/' + filename
    with open(path, 'w') as f:
        json.dump(json_response, f)

In [331]:
def get_all_tweets(start_date, max_results, tweet_fields, expansions, end_time=None):
    url = create_url(start_date, max_results, tweet_fields, expansions)
    json_response = connect_to_endpoint(url[0], headers, url[1])
    save_json(1, json_response)
    end_time = json_response['data'][-1]['created_at']
    url = create_url(start_date, max_results, tweet_fields, expansions, end_time)
    json_response = connect_to_endpoint(url[0], headers, url[1])
    save_json(2, json_response)
    return json_response

In [332]:
json_response = get_all_tweets(start_date, max_results, tweet_fields, expansions)

Endpoint Response Code: 200
2022-06-28T07:50:34.000Z

In [333]:
# print(json.dumps(json_response, indent=4, sort_keys=True))

In [18]:
import sqlite3

In [34]:
connection = sqlite3.connect("../data/twitter.db")
crsr = connection.cursor()

In [35]:
def sql_query(query):

    # Ejecuta la query
    crsr.execute(query)

    # Almacena los datos de la query 
    ans = crsr.fetchall()

    # Obtenemos los nombres de las columnas de la tabla
    names = [description[0] for description in crsr.description]

    return pd.DataFrame(ans,columns=names)

In [36]:
query_match = '''SELECT * FROM tweets'''

In [37]:
df = sql_query(query_match)

In [41]:
df

,author_id,id,created_at,text,retweet_count,reply_count,like_count,quote_count
0,1578095844569514011,1578613094191796224,2022-10-08T05:07:45.000Z,"Gente muy agradable en @TheBridge_Tech , te ri...",0,0,0,0
1,1003872445,1577334577701453827,2022-10-04T16:27:23.000Z,Recordaros que la semana que viene tenemos la ...,2,0,12,0
2,2529499620,1576902991507922944,2022-10-03T11:52:25.000Z,El desarrollador web es uno de los perfiles má...,3,0,3,0
3,706520411551494145,1576856703349374976,2022-10-03T08:48:29.000Z,@jorgegrev @TheBridge_Tech Enhorabuena crack!,0,0,1,0
4,604485175,1575217357105946624,2022-09-28T20:14:18.000Z,Hoy por fin ve la luz mi primer Case Study púb...,3,0,4,0
...,...,...,...,...,...,...,...,...
149,18955785,1536313018321190912,2022-06-13T11:42:21.000Z,Lo conseguí!!! Gracias @TheBridge_Tech @Heavy...,0,0,1,0
150,15521945,1536311923423203331,2022-06-13T11:38:00.000Z,@TheBridge_Tech @HeavyMental_es @Alienta ¡Y yo...,0,0,1,0
151,10614452,1536310998319210496,2022-06-13T11:34:19.000Z,@TheBridge_Tech @HeavyMental_es @Alienta ¡La t...,0,0,2,0
152,1255794072280842240,1536310702876549123,2022-06-13T11:33:09.000Z,Lo prometimos y han llegado gracias a @TheBrid...,2,4,6,0
153,1434890317640126469,1536267654717132801,2022-06-13T08:42:06.000Z,@HeavyMental_es @PesetJairo @TheBridge_Tech @G...,0,0,2,0